<div class='container'>

  <div class='container ransack-search'>
    <div class='col-md-6 form-inline'>
      <%= search_form_for @search do |f| %>
       <div class="form-group">
         <%= f.text_field :title_cont, placeholder: "Outing Title" %>
       </div>
       <div class='form-group'>
        <%= f.text_field :politician_name_cont, placeholder: "Politician Name" %>
      </div>
       <span class="actions">
         <%= f.submit "Find", class: 'btn btn-info btn-sm' %>
       </span><br />
      <% end %>
    </div>
  </div>

  <% @outings.each do |outing|%>
    <%= render partial: 'shared/outing', locals: {outing: outing} %>
  <% end %>
</div>
