<div class='container'>
  <h1>Cart</h1>

  <table class = "table">
    <tr>
      <th>Outing Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
    <% @contents.each do |content|%>
      <tr>
        <td><%= content.first.title %></td>
        <td><%= content.first.description %></td>
        <td><img src="<%= content.first.image_url %>" class="img-responsive" id="outing-photo"></td>
        <td><%= content.first.adjusted_cost %></td>
        <td id="quantity">
          <%= content.last %>
          <%= link_to "Add", increment_path(outing_id: content.first.id),method: :POST, class:'btn btn-success btn-xs' %>
          <%= link_to "Subtract", decrement_path(outing_id: content.first.id), method: :POST, class:'btn btn-warning btn-xs'%></td>
        <td><%= link_to "Remove", "/carts/#{content.first.id}", method: :delete, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
    <tr>
      <td class = "text-center" colspan = "6"><h4>Total Price: <%= @cart_total %></h4></td>
    </tr>
  </table>
</div>
