<div class='container'>
  <h1>Cart</h1>

  <table class = "table">
    <tr>
      <th>Outing Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
    <% @contents.each do |content, content_qty|%>
      <tr>
        <td><%= content.title %></td>
        <td><%= content.description %></td>
        <td><img src="<%= content.image_url %>" class="img-responsive" id="outing-photo"></td>
        <td><%= content.adjusted_cost_currency %></td>
        <td id='quantity'><%= link_to "+", increment_path(outing_id: content.id),method: :POST, class:'btn btn-success btn-xs', id: 'add' %><%= content_qty %>
        <%= link_to "-", decrement_path(outing_id: content.id), method: :POST, class:'btn btn-warning btn-xs', id: 'sub'%></td></td>
        <td><%= link_to "Remove", "/carts/#{content.id}", method: :delete, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
    <tr>
      <td class = "text-center" colspan = "6"><h4>Total Price: <%= @cart_total %></h4></td>
    </tr>
  </table>
</div>
