<!DOCTYPE html>
<html>
  <head>
    <title>Lobbify</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Quattrocento" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: "/layouts/header" %>
    <%= render partial: "/layouts/flash" %>
    <%= yield %>
    <footer>
      <p>Lobbify was developed using <a href="http://api.rubyonrails.org" target="_blank">Rails</a> by Daniel Rodriguez, Drew Palazzari, Laszlo Balogh, Nick Gheorghita</p>
      <p><a href="https://github.com/drod1000/lobbify" target="_blank">Source Code</a></p>
    </footer>
  </body>
</html>
