<!DOCTYPE html>
<html>
  <head>
    <title>Lobbify</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Quattrocento" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: "/layouts/header" %>
    <%= render partial: "/layouts/flash" %>
    <%= yield %>

  </body>
</html>
